<mat-card>
         <mat-card-content>
                <form [formGroup]="form">
                        <h2>Base Convertor</h2>
                      
                        <mat-form-field class="example-full-width">
                                <input matInput placeholder="Decimal" formControlName="decimal"
                                (ngModelChange)="decimalChanged($event)"
                                autofocus>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                                <input matInput formControlName="binary"
                                (ngModelChange)="binaryChanged($event)"
                                placeholder="Binary">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                                <input matInput formControlName="octal"
                                (ngModelChange)="octalChanged($event)"
                                placeholder="Octal">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                                <input matInput placeholder="Hex" 
                                formControlName="hexa"
                                (ngModelChange)="hexChanged($event)">
                        </mat-form-field>
                        <br>
                    
                        <button mat-button (click)="clear()">Clear</button><br>
                        
                    </form>
        </mat-card-content>
</mat-card>

    